.playerWrap{
  background-color: black;
}

.player{
  width: 100%;
  background-color: #333;
}

.mvInfoWrap{
    padding: 20px 10px 0;
}

.mvTitle{
    padding-bottom: 5px;
}

.mvSummary{
    padding-bottom: 5px;
    font-size: 0.85rem;
    color: #7a7a7a;
}

.recommendMvWrap{
    padding-top: 40px;
}

.recommendText{
    padding-left: 15%;
}

.recommendText>span{
    display: inline-block;
    padding: 0 10px;
    border-bottom: 3px solid #1351f9;
}

.recommendMvWrap>.mvSectionWrap{
  padding: 0 10px 20px;
  background-color: #e3e3e3;

}

.mvSectionWrap{
  padding: 20px 0 60px;
}

.mvSection{
  padding: 20px 0 0;
}

.mvSection h4{
  margin-bottom: 10px;
}

.mvListSmall{
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mvListSmall::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.mvListSmall>li{
  width: 104px;
  margin-right: 5px;
  background-color: #eee;
}

.mvListSmall>li:last-child{
  margin-right: 0;
}

.mvListSmall>li>img{
  width: 104px;
  height: 152px;
}

.mvSmallListTitle{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  height: 40px;
  line-height: 35px;
  padding: 0 10px;
}